<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">tllo-example</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.theme.min.css}" />
</head>
<body>

	<!-- container start -->
	<div class="container">

		<header>
			        共通ヘッダー部分
		</header>
		<!-- navi start -->
		<div class="row navi">
			<div class="col-md-12">
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/content1"
						th:href="@{/content1}">content1</a></li>
					<li role="presentation"><a href="/content2"
						th:href="@{/content2}">content2</a></li>
				</ul>
			</div>
		</div>
		<!-- navi end -->

	    <!-- contents -->
	    <div layout:fragment="content" th:remove="tag">Contents is here!</div>
		<!-- contents end -->

		<!-- footer	-->
		<footer>
		        共通フッター部分
		</footer>
		
	</div>
	<!-- container end -->

	<!-- scripts start -->
	<div layout:fragment="scripts" th:remove="tag"></div>
	<!-- scripts end -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/jquery-1.11.1.js"
		th:src="@{/webjars/jquery/1.11.1/jquery-min.js}"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"
		th:src="@{/webjars/bootstrap.min.js}"></script>
</body>
</html>